/* General css for alle the main windows */

/*noinspection CssUnusedSymbol*/
.root {
    -fx-pref-width: 1150;
    -fx-pref-height: 600;
    -fx-fill-height: true;
    -fx-max-width: infinity;
    -fx-font-size: 14;
}

#menuBar {
    -fx-pref-width: 900;
    -fx-pref-height: 42;
    -fx-min-height: 42;
    -fx-alignment: center-left;
    -fx-border-color: #4a4848;
}

#applicationBody {
    -fx-alignment: center;
    -fx-fill-height: true;
}

#featurePane {
    -fx-pref-width: 200;
    -fx-min-width: 175;
    -fx-max-width: 300;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #4a4848;
}

#fPane {
    -fx-pref-width: 200;
    -fx-min-width: 175;
    -fx-max-width: 300;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 5, 5, 5, 5;
    -fx-spacing: 5;
}

#fPane .button {
    -fx-padding: 5, 5, 5, 5;
}

#explorerPane {
    -fx-pref-width: 500;
    -fx-min-width: 50;
}

#imageViewPane {
    -fx-pref-width: 200;
    -fx-min-width: 175;
    -fx-max-width: 300;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #4a4848;
}

#metadataTextBox{
    -fx-pref-width: 150;
    -fx-min-width: 100;
    -fx-max-width: 300;
    -fx-max-height: 20;
}

#imageHolder {
    -fx-pref-width: 250;
    -fx-max-height: 250;
    -fx-max-width: 250;
    -fx-min-height: 50;
    -fx-border-color: red;
}

#showNumberOfSelectedImagesAndTotal{
    -fx-alignment: bottom-left;
    -fx-pref-width: 150;
    -fx-min-width: 100;
    -fx-max-width: 300;
    -fx-max-height: 20;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.ExplorerPaneImg {
    -fx-max-width: 140;
    -fx-min-width: 140;
    -fx-max-height: 140;
    -fx-min-height: 140;
    -fx-padding: 5 5 5 5;
    -fx-vgap: 5;
    -fx-hgap: 5;
    -fx-alignment: center;
}

.ExplorerPaneImg:hover {
    -fx-border-color: skyblue;
}
.ExplorerPaneImgSelected {
    -fx-background-color: rgba(0,120,215,0.7);
}

#featureTitle {
    -fx-font-size: 18;
    -fx-pref-width: 175;
    -fx-max-width: 300;
    -fx-alignment: center;
    -fx-padding: 5, 0, 5, 0; /* top, right, bottom, left */
}

#featureText {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

#SearchField {
    -fx-padding: 6, 6, 6, 6;
}

#searchLabel {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 5, 0, 5, 5;
}

/* Remove focus ring on radio buttons */
.radio-button:focused > .radio
{
    -fx-border-style: solid, none;
    -fx-border-color: border_color, transparent;
}

.radio-button:focused:hover > .radio
{
    -fx-border-color: border_color, transparent;
}

.radio-button:focused:pressed > .radio, .radio-button:focused:selected:pressed > .radio
{
    -fx-border-color: #999999, transparent;
}

.radio-button:focused:selected > .radio {
    -fx-border-color: accent_color, transparent;
}


.button:focused, .toggle-button:focused
{
    -fx-border-color: transparent, transparent;
    -fx-border-style: solid, solid;
}